---
hosts:
  - name: jamma
    ip: 192.168.0.211

  - name: bitty
    ip: 192.168.0.254

  - name: daneel
    ip: 192.168.0.214

  - name: localhost
    ip: 127.0.0.1

provisioners:
  - name: bitty
    host: bitty
    cache:
      type: redis
      parameters:
        host: jamma
        port: 6679
        db: 0
  - name: jamma
    host: jamma
    cache:
      type: redis
      parameters:
        host: ozwald-provisioner-redis
        port: 6379
        db: 0
  - name: daneel
    host: daneel
    cache:
      type: redis
      parameters:
        host: localhost
        port: 6479
        db: 1

realms:
  default:
    networks:
      - name: default
        type: bridge

    service-definitions:
      - name: simple_test_1
        type: container
        description: Simple test service
        image: 'simple_test_1'
        bridge-connector:
          port: 80
          name: main-api-port
          network: default

      - name: test_env_and_vols
        type: container
        description: Test environment and volumes
        image: 'test_env_and_vols'
        environment:
          TEST_ENV_VAR: 'test_env_var_value'
          ANOTHER_TEST_ENV_VAR: 'another_test_env_var_value'
          FILE_LISTING_PATHS: '/solar_system'
        volumes:
          - name: solar_system
            target: /solar_system
            read_only: true

      - name: qwen1.5-vllm
        type: container
        description: DeepSeek Qwen 1.5B
        varieties:
          nvidia:
            image: 'openai-api-vllm.nvidia'
            environment:
              GPU: true
          amdgpu:
            image: 'openai-api-vllm.amdgpu'
            environment:
              GPU: true
          cpu-only:
            image: 'openai-api-vllm.cpu-only'
            environment:
              GPU: false
        environment:
          MODEL_NAME: "deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B"
        profiles:
          embed:
            environment:
              CPU_OFFLOAD_GB: ""
              GPU_MEMORY_UTILIZATION: 0.7
              MAX_MODEL_LEN: 1100
          no-gpu:
            environment:
              MAX_MODEL_LEN: 45000
          fast-gpu:
            environment:
              CPU_OFFLOAD_GB: ""
              GPU_MEMORY_UTILIZATION: 0.9
          max-context-window:
            environment:
              MAX_MODEL_LEN: ""
          small-context-window:
            environment:
              MAX_MODEL_LEN: 15000

      - name: qwen7-vllm
        type: container
        description: DeepSeek Qwen 7B
        varieties:
          nvidia:
            image: 'openai-api-vllm.nvidia'
            environment:
              GPU: true
          amdgpu:
            image: 'openai-api-vllm.amdgpu'
            environment:
              GPU: true
          cpu-only:
            image: 'openai-api-vllm.cpu-only'
            environment:
              GPU: false
        environment:
          MODEL_NAME: "deepseek-ai/DeepSeek-R1-Distill-Qwen-7B"
        profiles:
          no-gpu:
            environment:
              MAX_MODEL_LEN: 45000
          fast-gpu:
            environment:
              CPU_OFFLOAD_GB: ""
              GPU_MEMORY_UTILIZATION: 0.9
          max-context-window:
            environment:
              MAX_MODEL_LEN: ""
          small-context-window:
            environment:
              MAX_MODEL_LEN: 15000
      - name: fiction-sources
        type: source-files
        description: Fiction sources in EPUB format
        environment:
          DIRECTORY: sources/
      - name: chunker
        type: container
        description: Chunker service
        environment:
          SOURCES: ['fiction-sources']
          CHUNK_SIZE: 1000
          CHUNK_OVERLAP: 500
      - name: sqlite-vector
        type: container
        description: SQLite vector database
        environment:
          DIMENSION: 768
        profiles:
          coarse:
            environment:
              DIMENSION: 128


volumes:
  solar_system:
    type: bind
    source: ${SETTINGS_FILE_DIR}/solar_system

portals:
  - name: main-api
    bridge:
      realm: default
      connector: main-api-port
    port: 7656
